<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.futureskyltd.trackingmate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackingMate">
        <activity android:name="com.futureskyltd.trackingmate.View.DetailsVisitReportActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.futureskyltd.trackingmate.View.ViewVisitReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.futureskyltd.trackingmate.View.MerchantDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.futureskyltd.trackingmate.View.AllMerchantListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.futureskyltd.trackingmate.View.AddMerchantActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.futureskyltd.trackingmate.View.VisitReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.futureskyltd.trackingmate.View.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.futureskyltd.trackingmate.View.RegisterAndLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.futureskyltd.trackingmate.MainActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.futureskyltd.trackingmate.LocationService"
            android:enabled="true"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>